<div>
  <form>
    <label for="title">Title</label>
    <input type="text" name="title">
  </form>
</div>
<div id="products-container">Hola desde realTimeProducts hanldebars</div>
<script src="/js/realTimeProducts.js"></script>