<div>
  <h1>Log In</h1>

  <div>
    <form action="/api/session/login" method="post">
      <label for="email">Email</label><br />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="type your email"
      />
      <br />
      <label for="password">Password</label>
      <br />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="type your password"
        required
      />
      <br />
      <button type="submit">submit</button>
    </form>
  </div>

  <div>
    <br />
    <a href="/api/session/github"><button type="submit">Entrar con GitHub</button></a>
  </div>

</div>