<div>
  <h1>Reset your Password</h1>

  <div>
    <form action="/api/session/forgot-password" method="post">
      <label for="email">Email</label><br />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="type your email"
      />
      <br />
      <button type="submit">Send Recovery Email</button>
    </form>
  </div>

</div>