<div>
  <h1>Set a New Password</h1>

  <div>
    <form action="/api/session/set-new-password/{{token}}" method="post" onsubmit="return validateForm()">
      <label for="password">Password</label><br />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="type your password"
        oninput="validatePassword()"
      />
      <br />
      <label for="password">Confirm Password</label><br />
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        placeholder="repeat your password"
        oninput="validatePassword()"
      />
      <br />
      <p id="password-error" style="color: red;"></p>
      <button type="submit" id="submit-button" disabled>Submit</button>
    </form>
  </div>

  <script>
    function validatePassword() {
      var password = document.getElementById('password').value;
      var confirmPassword = document.getElementById('confirm-password').value;
      var passwordError = document.getElementById('password-error');
      var submitButton = document.getElementById('submit-button');

      if (password === confirmPassword) {
        passwordError.textContent = '';
        submitButton.disabled = false;
      } else {
        passwordError.textContent = 'The passwords do not match';
        submitButton.disabled = true;
      }
    }

    function validateForm() {
      var password = document.getElementById('password').value;
      var confirmPassword = document.getElementById('confirm-password').value;

      if (password !== confirmPassword) {
        alert('The passwords do not match, please check.');
        return false; // Evita que se envíe el formulario
      }
      
      // Si las contraseñas coinciden, el formulario se enviará normalmente.
      return true;
    }
  </script>

</div>