<div>
  <h1>Chat</h1>
  <form id="form">
    <input id="textbox">
    <input type="submit">
  </form>
  <p id="log"></p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>